@charset "UTF-8";

//----------------------------------------------------------------------------------------------------------------
//   @description  base scss(导入所需组件)
//   @author       Tongao(tongao@yhd.com)
//   @date         2015-05-12 14:06:11
//   @update       2015-05-12 14:06:11
//   @github       https://github.com/tongao/hummer-sass/
//   @tips         默认会解析出一份reset样式
//----------------------------------------------------------------------------------------------------------------

// 导入 hummber-sass 中的基础文件
@import "core/setting";
@import "core/mixin";
@import "core/reset";
